<header class="">
    <div class="">

                <% if (typeof user !== 'undefined') { %>
            <!-- nav for logged in user -->
            <div class="flex justify-between max-h-24 items-center px-4">
                <ul class="flex gap-4 font-bold grow-0 text-lg">
                    <li><a href="/books" class=""><span class="font-semibold">Bookshelf</span></a></li>
                    <li><a href="/discover" class=""><span>Discover</span></a></li>                        
                </ul>
                <div class="grow">
                    <a href="/"><img src="assets/bibliofile-logo-rectangular.png" alt="Bibliofile logo" class="mx-auto" ></a>
                </div>
                <div class="grow-0 text-lg">
                    <a class="px-4 py-2 font-bold border-2 border-black rounded-sm" href="/logout">Logout</a>
                </div>

            </div>
        <% } else { %>
                <!-- nav for anonymous user -->
                <div class="flex justify-between max-h-24 items-center px-4">
                    <ul class="flex gap-4 font-bold grow-0 text-lg">
                        <li><a href="/books" class="">Bookshelf</a></li>                        
                    </ul>

                <div class="grow">
                    <a href="/"><img src="assets/bibliofile-logo-rectangular.png" alt="Bibliofile logo" class="mx-auto" ></a>
                </div>

                    <ul class="flex gap-4 font-bold px-4 py-2 border-2 border-black rounded-sm grow-0 text-lg">
                        <li><a href="/login" class="">Log In</a></li>
                        <li><a href="/signup" class="">Sign Up</a></li>                        
                    </ul>
                </div>
        <% } %>


    </div>
</header>


