<header class="p-3 bg-dark text-white mb-4">
    <div class="container">
        <div class="flex align-items-center justify-content-center justify-content-lg-start">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 text-white">Home</a></li>
                <li><a href="/login" class="nav-link px-2 text-white">Login</a></li>
                <li><a href="/books" class="nav-link px-2 text-white">Bookshelf</a></li>
                <li><a href="/discover" class="nav-link px-2 text-white">Discover</a></li>
                <li><a class="btn btn-warning" href="/signup" >Sign Up</a>
                
            </ul>

            <img src="/assets/bibliofile-logo-rectangular.png" alt="Bibliofile logo">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                            <li><a class="btn btn-outline-light me-2" href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</header>