<%- include('../partials/head') %>
<body class="font-serif bg-oyster">
<%- include('../partials/header') %>



<!-- new version -->
    <section>
      <div class="mx-auto my-4">
        <h1 class="text-4xl">Discover Books</h1>

        <form action="/discover/searchBooks" method="GET">
          <div>
            <input type="search" id="search" name="bookSearch" />
            <button>Search</button>
          </div>
        </form>

        <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4 max-w-6xl mx-auto" id="results">


          <% if (searchResult && searchResult != '') { %>
            <%- searchResult %>
          <% } %>
            


        </div>

      </div>
    </section>

<!--     <form action="/books/createBook" method='POST'>
        <input type="text" placeholder="Enter Book Title" name='bookItem'>
        <input type="submit">
    </form> -->



    <script src="js/main.js"></script>
</body>
</html>