<%- include('../partials/head') %>

<body class="font-serif">
  <%- include('../partials/header') %>

  <div class="container flex flex-align-center">
  <img class="landing-img" src="assets/book-with-sun-border.png">
  <div class="landing-text">
    <h1>Welcome to Book Tracker</h1>
    <h3>your personal library.</h3>
  </div>
  </div>
    
</body>
</html>